.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.fondonoche {
  background: url("https://feriasycongresos.s3-sa-east-1.amazonaws.com/ag/fondo-vectorial-noche-ag.png") no-repeat center top;
  background-size: 140vw;
  background-color: rgb(9, 31, 50);
}


.fondodia {
  background: url("https://feriasycongresos.s3-sa-east-1.amazonaws.com/ag/fondo-vectorial-dia-ag.png") no-repeat center top;
  background-size: 140vw;
  background-color: white;
}


@media screen and (max-width:960px) {
  .fondonoche, .fondodia {
    background-size: 200vw;
  }   
}

:root {
  --main-color: #2f6fa0;
  --cold-color: #47aefe;
  --hot-color: #fc6554;
  --text-color: rgb(52, 52, 52);
  --font-family: 'Ubuntu', sans-serif, 'Helvetica Neue',
  sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}