@import '../containers/App.css';

#logoHenry {
  margin-right: 20px;
}

.navbar{
  text-decoration: none;
  color: white;
  background: var(--gradiente-color);
  padding-top: 15px;
}

.navlinks {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

.navlinks:hover, .navlinks:link, .navlinks:focus{
  text-decoration: none;
  border-bottom: 1px solid white;
  
}

.navElement {
  margin-bottom: 10px;
  margin-right: 10px;
}

.short-text { display: none; }

/* // When resolution <= 1200px, hide full text and show short text */
@media (max-width: 470px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}