/* https://css-tricks.com/a-dark-mode-toggle-with-react-and-themeprovider/ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');


body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif, 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }




